@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #1c402d;
  --brand-secondary: #b98d65;
  --brand-neutral: #414042;
  --brand-base: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-color-primary;
}
